<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.computer"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.computer.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.computer.Action.RegisterActivity"/>
        <activity android:name="com.example.computer.Action.RangeActivity"/>
        <activity android:name="com.example.computer.Action.OrderActivity"></activity>
        <activity android:name="com.example.computer.Action.About_Activity"></activity>
        <activity android:name="com.example.computer.Action.AgainActivity"></activity>
        <activity android:name="com.example.computer.Action.AnswerActivity"></activity>
        <activity android:name="com.example.computer.Action.CashActivity"></activity>
        <activity android:name="com.example.computer.Action.FailActivity"></activity>
        <activity android:name="com.example.computer.Action.FenleiActivity"></activity>
        <activity android:name="com.example.computer.Action.NextActivity"></activity>
        <activity android:name="com.example.computer.Action.ModelActivity"></activity>
        <activity android:name="com.example.computer.Action.SortActivity"></activity>
        <activity android:name="com.example.computer.Action.PassActivity"></activity>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>
